@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000;
  overflow-x: hidden;
}

.mask-wrapper {
  mask-image: url("/images/big-hero-text.svg");
  mask-repeat: no-repeat;
}

.mask-wrapper-2 {
  mask-image: url("/images/text-logo.png");
  mask-repeat: no-repeat;
}
